<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Profile</h2>
<div class="summary">
    <p>I am a Solutions Engineer at Liaison Technologies. I stepped my foot into coding since high school by working on projects in Java. However, My journey started in Georgia Tech as an Aerospace Engineer student in 2009. Where in the end I came around a long way to get back to my true passion for Computer Science in 2013 after my military service. Since then, I engaged in various development projects, working with the KCS group in application development and working at PaperHost.com as a Software Engineering Co-op. Also, Participating in hackathons during the weekends always made them worthwhile. With all the fun, I'm always open to accepting challenges that requires creativity. 
    </p>
</div><!--//summary-->
</section><!--//section-->