<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                  <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Solutions Engineer </h3>
                            <div class="time">2017 - Current</div>
                        </div><!--//upper-row-->
                        <div class="company">Liaison Technologies, Alpharetta, GA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Develop Alloy task scripts in Javascript using Alloy Platform API </p>
                        <p>Recognize common requirements and implement reusable code modules and procedures with Node.js to improve the efficiency and productivity.</p>
                        <p>Architect technical designs using microservices implemented in Liaison's
                            compliance certified integration platform.</p>
                        <p>Attain detailed knowledge of cloud based systems used by customers,
                            and partner with the vendors of those systems to connect hundreds of RESTful connections to Liaison ALLOY Platform.</p>  
                    </div><!--//details-->
                </div><!--//item-->
    
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer Co-op</h3>
                            <div class="time">Fall 2014, Summer 2015, Spring 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">PaperHost.com, Roswell, GA</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Developed both production ready software and in-depth testing software for online document management software involving document conversion, storage, and protection of healthcare documents. </p>  
                        <p>Created automated software test plans, cases, and scripts to uncover, identify, and document software problems and their causes as a QA </p>
                        <p>Involved in Query Optimization and Performance Tuning using Microsoft SQL Server </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Telecommunications Operations Squad Leader</h3>
                            <div class="time">2011 - 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Republic of Korea Army, South Korea</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Army Sergeant, Squad Leader</p>
                        <p>Provided wired and wireless communication, supervised information systems of R.O.K Army server, and managed personal devices dealing with radio frequency, satellite, and microwave broadband technology</p>
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                
            </section><!--//section-->