<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <!--<div class="intro">
                    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title">Allergan Plc, Sonepar USA</span> : <span class="project-tagline">Design, document, engineer the SDLC of integrating Customer IT Solutions system into Liaison’s ALLOY platform as a project lead solution engineer</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">Senior Project</span> : <span class="project-tagline">Project SALT - Georgia Tech community website focused on bartering goods</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">Java</span> : 
                    <span class="project-tagline">B-Trees data structure, Linked Lists, Hash Tables, AVL Trees, Binary Trees, and Heaps </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">Python</span> : <span class="project-tagline"> Machine Learning, Image manipulation projects - Blending, Feature Detection, Panoramas, and HDR</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">C</span> : <span class="project-tagline">Virtual memory simulation. Recoding the C system functions malloc, calloc, and free </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">Unity 3D</span> : <span class="project-tagline">Environment virtualization of Google Glass application prototype for mountain climbing
</span>
                </div><!--//item-->
            </section><!--//section-->